[submodule "cxx/external/boost"]
	path = cxx/external/boost
	url = git@github.com:boostorg/boost.git
[submodule "cxx/external/lapack"]
	path = cxx/external/lapack
	url = git@github.com:Reference-LAPACK/lapack.git
