pyyaml>=6.0.2
pymongo<4.9.0
numpy<2.0.0
obspy>=1.4.2
dill>=0.4.0
click>=8.2.1
dask[complete]>=2025.7.0
schema==0.7.5
decorator>=5.2.1
boto3>=1.40.23
botocore>=1.40.23
moto<=5.1.1
requests>=2.32.5
setuptools<80.0
xarray<=2024.3.0
zarr>=2.18.3
pandas>=1.5.3
numba>=0.61.2
multitaper>=1.2.0
ipympl>=0.9.7