pyyaml
pymongo
numpy>=1.23.2
obspy
dill
click
dask[complete]
schema
decorator
boto3
botocore
moto
requests 
setuptools
xarray
zarr
pandas==1.5.3
numba
multitaper
ipympl
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
seisbench==0.4.1; python_version < '3.9'
seisbench>0.4.1; python_version >= '3.9'