name: CMake

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    #- name: Install Dependencies
    #  run: sudo apt-get update && sudo apt-get install -yq gfortran libboost-dev libboost-serialization-dev liblapack-dev

    - name: Create Build Environment
      shell: bash
      run: |
        pwd
        ls
        cd cxx
        mkdir build
        pwd
        ls

    - name: Configure CMake
      shell: bash
      working-directory: ${{runner.workspace}}/cxx/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: |
        pwd
        ls
        echo $GITHUB_WORKSPACE
        cmake $GITHUB_WORKSPACE/cxx -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{runner.workspace}}/cxx/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      working-directory: ${{runner.workspace}}/cxx/build
      shell: bash
      run: ctest --output-on-failure -C $BUILD_TYPE
